<% include header.ejs %>
<div class="container">
	<div class="row">
<!-- 		<div class="col-md-3">
			<img src="myavatar.jpg">
		</div>
		<div class="col-md-1">
		</div> -->
		<div class="col-md-12">
			<h2>干货君：Grey</h2>
			<p>追求着简单富足的生活，理想中的生活跟大多程序员一样Change the world，不过现实中也就写写代码、读读Github、写写Blog、追追美剧、找找美食、游游美景…人生就这么简单。</p>
			<p>8年的研发经验，2年多嵌入式开发经验，约6年iOS开发经验，从嵌入式开发到iOS开发，再到服务端开发，技术领域还算广泛，也做过3年的研发主管，我正寻觅一用武之地，希望能够遇到伯乐挥洒一腔热情。</p>
			<p>常用兵器：C/C++、Swift、Objective-C、PHP、Node.js (Js)  ...  </p>
			<h3>工作联系：</h3><a href="mailto:524071114@qq.com">点击发送邮件</a> , <a href="http://www.weibo.com/weifocusio">微博私信</a>
			<p>工作邀请可以通过上面的方式联系我,或者加我QQ（524071114）</p>
		</div>
	</div>
</div>
<% include footer.ejs %>
