<footer class="myfooter">
	<div class="container">
		<p>Copyright ©2016,Study1234 All Rights Reserved</p>
		<p class="center-block"><a href="http://www.miitbeian.gov.cn/">蜀ICP备16015521号-1</a></p>
	</div>
</footer>