<head>
	<title><%if(title) {%><%= title %><%} else {%>干货时代<%}%></title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/common.css" rel="stylesheet">
	<link href="/css/base.css" rel="stylesheet">
	<link href="/css/adminbase.css" rel="stylesheet">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/jquery.twbsPagination.min.js"></script>
	<script src="/javascripts/common.js"></script>
	<script src="/javascripts/extension.js"></script>
	<script src="/javascripts/jquery.cookie.js"></script>
	<script src="/javascripts/vue.js"></script>
	<meta name="baidu-site-verification" content="nUEaYMY7iC" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="iOS Swift 干货 干货时代 Swift文章 Swift教程 Swift视频教程 Swift书籍 Swift基础 Swift进阶 Swift设计模式 罗国辉">
	<meta name="description" content="Study1234，干货时代，是Grey.Luo(罗国辉)建的一个iOS学习个人站点"
</head>