<% include header.ejs %>
<form class="user_reg_form" role="form" method="post">
	<% if (error) { %>
		<div class="alert-danger">
	    	<div class="alert alert-danger">
	      		<%= error %>
	      	</div>
	    </div>
    <% } %>
	<fieldset>
		<div class="form-group">
			<label for="name">昵称</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="请输入昵称" required>
		</div>
		<div class="form-group form-mobile">
			<label for="name">手机号</label>
			<input type="text" class="form-control" id="mobile" name="mobile" placeholder="请输入手机号" required>
			<button type="button" class="btn btn-btn-link form-mobile-verifycode" id="form-mobile-verifycode">获取验证码</button>
		</div>
		<div class="form-group">
			<label for="name">验证码</label>
			<input type="text" class="form-control" id="verifycode" name="verifycode" placeholder="请输入收到的验证码" required>
		</div>
		<div class="form-group">
			<label for="password">密码</label>
			<input type="password" class="form-control" id="password" name= "password" placeholder="请输入密码" required>
		</div>
		<div class="form-group">
			<label for="password_repeat">确认密码</label>
			<input type="password" class="form-control" id="password_repeat" name="password_repeat" placeholder="请再次输入密码" required>
		</div>
		<button type="submit" class="btn btn-primary btn-block" id="userRegBtn">注册</button>
	</fieldset>
</form>
<script src="/javascripts/form.js"></script>
<% include footer.ejs %>